[Unit]
Description=Envoi - webhook multiplexer
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node </projects/myapp/index.js>
WorkingDirectory=</projects/myapp>

User=envoi_go
Group=envoi_go

StandardOutput=append:</path/to/log>
StandardError=append:</path/to/log>

Restart=always
RestartSec=500ms

[Install]
WantedBy=multi-user.target